.test {
  background: #fff;
  color: #000;
  display: flex;
  font-size: 12rem;
  height: auto;
  justify-content: flex-end;
  margin: auto;
  padding: auto;
  position: relative;
  width: auto;
  z-index: 1;
}
